<!DOCTYPE html>
<html lang="en">
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}



<!--
To make it even nicer, we can write a macro that renders a field with label and a list of errors if there are any
-->
<!--
This macro accepts a couple of keyword arguments that are forwarded
to WTForm’s field function, which renders the field for us.
-->
