{% extends "includes/base_template.html" %}
{% block title %}User Profile{% endblock %}

{% block head %}
<script>

</script>
{% endblock %}


{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-3">
            <!-- Image -->
            <img id="poster" src="/static/images/appointment.png" alt=""
            class="border img-thumbnail img-fluid" style="height:95%;width:100%">

            <!-- Movie Name -->
            <!-- Genre -->
            <!-- Total Time -->
            <!-- Ratings -->
        </div>
        <div class="col-3">
            User Profile
        </div>
        <div class="col-3">
            User Profile
        </div>
        <div class="col-3">
            User Profile
        </div>
    </div>

</div>
{% endblock %}